body{
    background-image: url(backgrnd.JPG);    
    background-attachment: fixed;
    
}
#butn {
    margin-left: 35%;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #000000;
    font-size: 25px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 0.5px;
    text-decoration: none;
  }
  
 #butn:hover {
    background: #f0f0f0;
    text-decoration: none;
  }
  input {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid rgba(220,220,220,1);
    -webkit-border-radius: 16px;
    border-radius: 16px;
    font: normal 33px/normal "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,1);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-top: 3%;
  }
 form{
    margin-left: 17%;
    margin-top: 3%;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    margin: 0;
 }
 .img{
    margin-left: 25%;
 }
 .alrt{
     color: rgb(231, 71, 71);
     font-size: 20px;
 }